CREATE DATABASE MORPHEUS
GO
USE [_MORPHEUS_ENGINE_]
GO

--REGION => TABLE CREATION
--REGION => GENERIC TABLES
CREATE TABLE MACHINE_STATUS(MACHINE_STATUS_ID int identity(1,1) primary key, MACHINE_STATUS_NAME varchar(50))
--ENDREGION => GENERIC TABLES


--REGION => OPERATIONS
CREATE TABLE OPERATION_CATEGORY(OPERATION_CATEGORY_ID int identity(1,1) primary key, OPERATION_CATEGORY_NAME varchar(50))
CREATE TABLE OPERATION_STATUS(OPERATION_STATUS_ID int identity(1,1) primary key, OPERATION_STATUS_NAME varchar(50))
CREATE TABLE OPERATION_LOGS(OPERATION_ID int identity(1,1) primary key, OPERATION_NAME varchar(100), OPERATION_TIMESTAMP timestamp, OPERATION_CATEGORY_ID INT foreign key references OPERATION_CATEGORY(OPERATION_CATEGORY_ID), OPERATION_STATUS_ID int foreign key references OPERATION_STATUS(OPERATION_STATUS_ID))
--ENDREGION => OPERATIONS

--REGION => COUTRIES
CREATE TABLE COUNTRIES(COUNTRY_ID int identity(1,1) primary key, COUNTRY_NAME varchar(75), COUNTRY_CAPITAL_CITY varchar(100))
--ENDREGION => COUTRIES

--REGION => USERS
CREATE TABLE USER_GENDERS(USER_GENDER_ID int identity(1,1) primary key, USER_GENDER_NAME varchar(20))
CREATE TABLE USER_JOBS(USER_JOB_ID int identity(1,1) primary key, USER_JOB_NAME varchar(75))
CREATE TABLE USER_ACADEMIC_LEVEL(USER_ACADEMIC_LEVEL_ID int identity(1,1) primary key, USER_ACADEMIC_LEVEL_NAME varchar(50))
CREATE TABLE USER_LEVEL(USER_LEVEL_ID int identity(1,1) primary key, USER_LEVEL_NAME varchar(50))
CREATE TABLE USERS(
    USER_ID int identity(1,1) primary key,
    USER_FIRST_NAME varchar(75),
    USER_LAST_NAME varchar(75),
    USER_PASSWORD_HASH varbinary,
    USER_EMAIL varchar(255),
    USER_PHONENUMBER int,
    USER_PROFILE_PICTURE_PATH varchar(1000),
    USER_REGISTRATION_TIMESTAMP timestamp,
    USER_BIRTHDATE DATE,
    USER_GENDER_ID int foreign key references USER_GENDERS(USER_GENDER_ID),
    USER_COUNTRY_ID int foreign key references COUNTRIES(COUNTRY_ID),
    USER_ADRESS varchar(255),
    USER_CITIZEN_CARD_NUMBER int,
    USER_SALARY float,
    USER_BANK_ACCOUNT_NUMBER int,
    USER_ACADEMIC_LEVEL_ID int foreign key references USER_ACADEMIC_LEVEL(USER_ACADEMIC_LEVEL_ID),
    USER_JOB_ID int foreign key references USER_JOBS(USER_JOB_ID),
    USER_LEVEL_ID int foreign key references USER_LEVEL(USER_LEVEL_ID)
)

--REGION COMPANIES
CREATE TABLE COMPANY_TYPES(COMPANY_TYPE_ID int identity(1,1) primary key, COMPANY_TYPE_NAME varchar(20))
CREATE TABLE COMPANIES(
    COMPANY_ID int identity(1,1) primary key,
    COMPANY_NAME varchar(100),
    COMPANY_TYPE_ID int foreign key references COMPANY_TYPES(COMPANY_TYPE_ID),
    COMPANY_COUNTRY_ID int foreign key references COUNTRIES(COUNTRY_ID),
    COMPANY_CEO_ID int foreign key references USERS(USER_ID),
    COMPANY_CAPITAL float
)
--ENDREGION COMPANIES

CREATE TABLE USER_REL_COMPANY(
    USER_REL_COMPANY_ID int identity(1,1) primary key,
    USER_COMPANY_ID int foreign key references COMPANIES(COMPANY_ID),
    USER_ID int foreign key references USERS(USER_ID)
)
--ENDREGION => USERS

SELECT HASHBYTES(MD5, 'HELLO WORLD')

--teste_rafael